.container {
  border: 3px solid black;
  background-color:olivedrab;
  border-radius: 15px;
  width: 200px;
  height: 370px;
  box-shadow: 2px 2px 8px black;
  margin-top: 15px;
    
  &:hover {
    box-shadow: 2px 2px 8px yellow;
  }
}
  



.container img {
    width: 150px;
    margin-top: 2px;
    box-shadow: 2px 2px 7px black;
    border-radius: 10px;
}

.container h2 {
    background-color:goldenrod;
    /* color: white; */
    font-size: 14px;
    line-height: 24px;
}


.text {
    font-size: 12px;
    padding: 2px;
    line-height: 15px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;

}

.buttonContainer button {
    border: 2px solid black;
    background-color: salmon;
    border-radius: 4px;
    margin: 5px;
}